*.root
*/.DS_Store
.DS_Store
*.xml
AutoDict*
*.zip
*.swp
*.pdf
/gen/Fun/*
condor_log*
*/vis.mac
*/config.*
*/depcomp
*/missing
*/Makefile
*/install-sh
*/aclocal.m4
*autom4*
*/configure
*/ltmain.sh
*#*
*.d
*/Makefile.in
*/build/*
MASTER*
DisplayOn.C
Fun4All_G4_EICDetector.C
Fun4All_G4_fsPHENIX.C
*EIC*
Old_*.C
G4Setup_EICDetector.C
G4Setup_fsPHENIX.C
G4_CEmc_EIC.C
G4_DSTReader_EICDetector.C
G4_DSTReader_fsPHENIX.C
G4_FEMC_EIC.C
G4_FGEM_fsPHENIX.C
G4_Tracking_EIC.C
*_C.so
Training/weights/*
*/srtch/*
*gcc_test.c
SVReco/install/*
